# Subsetting

In [64]:
import pandas as pd

# Read in file, argument is the file path
df = pd.read_csv('data/wetlands_seasonal_bird_diversity.csv')

In [65]:
df.dtypes

year            int64
CSM_winter    float64
CSM_spring    float64
CSM_fall      float64
MUL_winter    float64
MUL_spring    float64
MUL_fall      float64
SDW_winter    float64
SDW_spring    float64
SDW_fall      float64
TJE_winter    float64
TJE_spring    float64
TJE_fall      float64
dtype: object

In [66]:
# df loc to subset
csm_mul = df.loc[ : , 'CSM_winter':'MUL_fall']
csm_mul.head()

   CSM_winter  CSM_spring  CSM_fall  MUL_winter  MUL_spring  MUL_fall
0        39.0        40.0      50.0        45.0         NaN      61.0
1        48.0        44.0       NaN        58.0        52.0       NaN
2        51.0        43.0      49.0        57.0        58.0      53.0
3        42.0        46.0      38.0        60.0        58.0      62.0
4        38.0        43.0      45.0        49.0        52.0      57.0

## Selecting rows of data frame
### using a condition
Syntax
```
df[condition_on_rows]
```

This can be many things... 

### Example 
We are interested in all data after 2020.

In [67]:
post_2020 = df[df["year"]>2020]
post_2020.head()

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
12,2022,40.0,46.0,49.0,60.0,55.0,65.0,57.0,60.0,57.0,60.0,61.0,60.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

Boolean values are true or false. Condition selects the rows associated with years greater than 2020 (pandas.Series).

In [68]:
df["year"]>2020
print(type(df["year"]> 2020))
df.dtypes

<class 'pandas.core.series.Series'>

year            int64
CSM_winter    float64
CSM_spring    float64
CSM_fall      float64
MUL_winter    float64
MUL_spring    float64
MUL_fall      float64
SDW_winter    float64
SDW_spring    float64
SDW_fall      float64
TJE_winter    float64
TJE_spring    float64
TJE_fall      float64
dtype: object

### Check in
Get the subset of the dataframe on which the San Dieguito Wetland has at least 75 species recorded during spring.

In [69]:
species_spring = df[df["SDW_spring"] >= 75]
species_spring.head()

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
0,2010,39.0,40.0,50.0,45.0,NaN,61.0,NaN,75.0,85.0,NaN,NaN,81.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0

### Example

Suppose you have data from 2012-2015 (including both year)

In [70]:
subset = df[df["year"].between(2012,2015)]
subset

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
3,2013,42.0,46.0,38.0,60.0,58.0,62.0,69.0,70.0,70.0,69.0,74.0,64.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0
5,2015,44.0,42.0,45.0,58.0,50.0,51.0,71.0,61.0,65.0,73.0,76.0,64.0

- 'df["year"]'= column with year values, this is a `panda.Series`.
- 'df["year"]= between()' method for pandas.Series. 
- df["year"].between() returns pandas.Series of boolean values indicating which rows are equal to the condition. 
- when you put in the selection brackets for .between(), obtain rows associated with met condition

#### Avoid using loc for selecting only rows. Can be used to select columns
It is equivalent to write

```
# select rows with year < 2015
df[df[year]< 2015]
``` 

and 

```
df.loc[df["year"] < 2015:]
``` 

In the second one: 
- usng df.loc[row selection, column selection]
- the row selection is the condition df[year]< 2015
- column selection is ":" = all columns

#### Selecting rows using multiple conditions
We can combine conditions to select rows by surrounding each in parenthesis "()" and using the or operator "|" and the "&" operator. 

Ex. Select rows in CSM with more than 50 species in winter or fall

In [71]:
df[(df["CSM_winter"] > 50) | (df["CSM_fall"] > 50)]

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

Select rows in which both CSM and SDW have more than 60 bird species during spring

In [72]:
df[(df["CSM_winter"] < 60) & (df["CSM_spring"] >30)]

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
0,2010,39.0,40.0,50.0,45.0,NaN,61.0,NaN,75.0,85.0,NaN,NaN,81.0
1,2011,48.0,44.0,NaN,58.0,52.0,NaN,78.0,74.0,NaN,67.0,70.0,NaN
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
3,2013,42.0,46.0,38.0,60.0,58.0,62.0,69.0,70.0,70.0,69.0,74.0,64.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0
5,2015,44.0,42.0,45.0,58.0,50.0,51.0,71.0,61.0,65.0,73.0,76.0,64.0
6,2016,41.0,36.0,47.0,63.0,48.0,58.0,67.0,62.0,57.0,76.0,76.0,58.0
7,2017,46.0,41.0,43.0,57.0,54.0,53.0,66.0,45.0,54.0,72.0,63.0,57.0
8,2018,48.0,48.0,44.0,56.0,54.0,57.0,55.0,49.0,51.0,66.0,60.0,55.0
9,2019,39.0,39.0,40.0,57.0,52.0,53.0,54.0,55.0,53.0,63.0,54.0,50.0
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
12,2022,40.0,46.0,49.0,60.0,55.0,65.0,57.0,60.0,57.0,60.0,61.0,60.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

## Selecting rows by position

Sometimes we may not want to select rows based on their actual position in the data frame. This is **position-based subsetting**. We use "iloc" selection 

Syntax: 
    ```
    df.iloc[row-indices]
    "iloc" = integer-location based indexing
    ```

In [73]:
df.iloc[4]

year          2014.0
CSM_winter      38.0
CSM_spring      43.0
CSM_fall        45.0
MUL_winter      49.0
MUL_spring      52.0
MUL_fall        57.0
SDW_winter      61.0
SDW_spring      78.0
SDW_fall        71.0
TJE_winter      60.0
TJE_spring      81.0
TJE_fall        62.0
Name: 4, dtype: float64

In [74]:
df2 = df.set_index("year")
df2 # now years are the index

,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
year,,,,,,,,,,,,
2010,39.0,40.0,50.0,45.0,NaN,61.0,NaN,75.0,85.0,NaN,NaN,81.0
2011,48.0,44.0,NaN,58.0,52.0,NaN,78.0,74.0,NaN,67.0,70.0,NaN
2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
2013,42.0,46.0,38.0,60.0,58.0,62.0,69.0,70.0,70.0,69.0,74.0,64.0
2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0
2015,44.0,42.0,45.0,58.0,50.0,51.0,71.0,61.0,65.0,73.0,76.0,64.0
2016,41.0,36.0,47.0,63.0,48.0,58.0,67.0,62.0,57.0,76.0,76.0,58.0
2017,46.0,41.0,43.0,57.0,54.0,53.0,66.0,45.0,54.0,72.0,63.0,57.0
2018,48.0,48.0,44.0,56.0,54.0,57.0,55.0,49.0,51.0,66.0,60.0,55.0
2019,39.0,39.0,40.0,57.0,52.0,53.0,54.0,55.0,53.0,63.0,54.0,50.0
2020,46.0,NaN,47.0,56.0,NaN,66.0,57.0,NaN,58.0,54.0,40.0,54.0
2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
2022,40.0,46.0,49.0,60.0,55.0,65.0,57.0,60.0,57.0,60.0,61.0,60.0
2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

In [75]:
# Selecting 5th row by index label // loc is indexing by LABELS
df2.loc[2014]

CSM_winter    38.0
CSM_spring    43.0
CSM_fall      45.0
MUL_winter    49.0
MUL_spring    52.0
MUL_fall      57.0
SDW_winter    61.0
SDW_spring    78.0
SDW_fall      71.0
TJE_winter    60.0
TJE_spring    81.0
TJE_fall      62.0
Name: 2014, dtype: float64

In [76]:
#df2.loc[5] not work since label is not the index
df.loc[5]

year          2015.0
CSM_winter      44.0
CSM_spring      42.0
CSM_fall        45.0
MUL_winter      58.0
MUL_spring      50.0
MUL_fall        51.0
SDW_winter      71.0
SDW_spring      61.0
SDW_fall        65.0
TJE_winter      73.0
TJE_spring      76.0
TJE_fall        64.0
Name: 5, dtype: float64

## Select rows and columns simultaneously 
Can be done using "loc" (labels) or "iloc" (positions)

### .... by labels or conditions

Syntax: 
```
df.loc[row-selection, column-selection] 
```


### Example 
Select winter surveys for Mugu Lagoon and Tijuana Estuary after 2020.

In [77]:
df.loc[df["year" ]> 2000, ["MUL_winter", "TJE_winter"]]

    MUL_winter  TJE_winter
0         45.0         NaN
1         58.0        67.0
2         57.0        70.0
3         60.0        69.0
4         49.0        60.0
5         58.0        73.0
6         63.0        76.0
7         57.0        72.0
8         56.0        66.0
9         57.0        63.0
10        56.0        54.0
11        54.0        53.0
12        60.0        60.0
13        72.0        60.0

### ... by position 
Use "iloc"

Syntax: 
``` 
df.iloc[ row-indices, column-indices]
```

### Example
Suppose we want to select rows 3-7 (including 7) and columns 3 and 4 (fourth and fifth columns).

In [78]:
df.iloc[3:8, [3,4]]

   CSM_fall  MUL_winter
3      38.0        60.0
4      45.0        49.0
5      45.0        58.0
6      47.0        63.0
7      43.0        57.0

### "iloc" column selections? 

#### Example
Suppose we want to access the 9th column in data frame, so select the column by position. In this case, we know that this column is San Dieguito Wetland during spring

In [79]:
df.iloc[:,8]

0     75.0
1     74.0
2     72.0
3     70.0
4     78.0
5     61.0
6     62.0
7     45.0
8     49.0
9     55.0
10     NaN
11    58.0
12    60.0
13    63.0
Name: SDW_spring, dtype: float64