# Subsetting

In [2]:
import pandas as pd

# Read in file, argument is the file path
df = pd.read_csv('data/wetlands_seasonal_bird_diversity.csv')

In [7]:
df.dtypes

year            int64
CSM_winter    float64
CSM_spring    float64
CSM_fall      float64
MUL_winter    float64
MUL_spring    float64
MUL_fall      float64
SDW_winter    float64
SDW_spring    float64
SDW_fall      float64
TJE_winter    float64
TJE_spring    float64
TJE_fall      float64
dtype: object

In [10]:
# df loc to subset
csm_mul = df.loc[ : , 'CSM_winter':'MUL_fall']
csm_mul.head()

   CSM_winter  CSM_spring  CSM_fall  MUL_winter  MUL_spring  MUL_fall
0        39.0        40.0      50.0        45.0         NaN      61.0
1        48.0        44.0       NaN        58.0        52.0       NaN
2        51.0        43.0      49.0        57.0        58.0      53.0
3        42.0        46.0      38.0        60.0        58.0      62.0
4        38.0        43.0      45.0        49.0        52.0      57.0

## Selecting rows of data frame
### using a condition
Syntax
```
df[condition_on_rows]
```

This can be many things... 

### Example 
We are interested in all data after 2020.

In [13]:
post_2020 = df[df["year"]>2020]
post_2020.head()

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
12,2022,40.0,46.0,49.0,60.0,55.0,65.0,57.0,60.0,57.0,60.0,61.0,60.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

Boolean values are true or false. Condition selects the rows associated with years greater than 2020 (pandas.Series).

In [17]:
df["year"]>2020
print(type(df["year"]> 2020))
df.dtypes

<class 'pandas.core.series.Series'>

year            int64
CSM_winter    float64
CSM_spring    float64
CSM_fall      float64
MUL_winter    float64
MUL_spring    float64
MUL_fall      float64
SDW_winter    float64
SDW_spring    float64
SDW_fall      float64
TJE_winter    float64
TJE_spring    float64
TJE_fall      float64
dtype: object

### Check in
Get the subset of the dataframe on which the San Dieguito Wetland has at least 75 species recorded during spring.

In [23]:
species_spring = df[df["SDW_spring"] >= 75]
species_spring.head()

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
0,2010,39.0,40.0,50.0,45.0,NaN,61.0,NaN,75.0,85.0,NaN,NaN,81.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0

### Example

Suppose you have data from 2012-2015 (including both year)

In [25]:
subset = df[df["year"].between(2012,2015)]
subset

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
3,2013,42.0,46.0,38.0,60.0,58.0,62.0,69.0,70.0,70.0,69.0,74.0,64.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0
5,2015,44.0,42.0,45.0,58.0,50.0,51.0,71.0,61.0,65.0,73.0,76.0,64.0

- 'df["year"]'= column with year values, this is a `panda.Series`.
- 'df["year"]= between()' method for pandas.Series. 
- df["year"].between() returns pandas.Series of boolean values indicating which rows are equal to the condition. 
- when you put in the selection brackets for .between(), obtain rows associated with met condition

#### Avoid using loc for selecting only rows. Can be used to select columns
It is equivalent to write

```
# select rows with year < 2015
df[df[year]< 2015]
``` 

and 

```
df.loc[df["year"] < 2015:]
``` 

In the second one: 
- usng df.loc[row selection, column selection]
- the row selection is the condition df[year]< 2015
- column selection is ":" = all columns

#### Selecting rows using multiple conditions
We can combine conditions to select rows by surrounding each in parenthesis "()" and using the or operator "|" and the "&" operator. 

Ex. Select rows in CSM with more than 50 species in winter or fall

In [28]:
df[(df["CSM_winter"] > 50) | (df["CSM_fall"] > 50)]

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

Select rows in which both CSM and SDW have more than 60 bird species during spring

In [33]:
df[(df["CSM_winter"] < 60) & (df["CSM_spring"] >30)]

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
0,2010,39.0,40.0,50.0,45.0,NaN,61.0,NaN,75.0,85.0,NaN,NaN,81.0
1,2011,48.0,44.0,NaN,58.0,52.0,NaN,78.0,74.0,NaN,67.0,70.0,NaN
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
3,2013,42.0,46.0,38.0,60.0,58.0,62.0,69.0,70.0,70.0,69.0,74.0,64.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0
5,2015,44.0,42.0,45.0,58.0,50.0,51.0,71.0,61.0,65.0,73.0,76.0,64.0
6,2016,41.0,36.0,47.0,63.0,48.0,58.0,67.0,62.0,57.0,76.0,76.0,58.0
7,2017,46.0,41.0,43.0,57.0,54.0,53.0,66.0,45.0,54.0,72.0,63.0,57.0
8,2018,48.0,48.0,44.0,56.0,54.0,57.0,55.0,49.0,51.0,66.0,60.0,55.0
9,2019,39.0,39.0,40.0,57.0,52.0,53.0,54.0,55.0,53.0,63.0,54.0,50.0
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
12,2022,40.0,46.0,49.0,60.0,55.0,65.0,57.0,60.0,57.0,60.0,61.0,60.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0